{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>Django Tailwind</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://unpkg.com/alpinejs" defer></script>
   {% tailwind_css %}
</head>

<body>
   {% block content %}
      <section class="flex items-center justify-center h-screen">
         <h1 class="text-5xl">Pymonx️</h1>
      </section>
   {% endblock content %}
</body>
</html>
