{% load static tailwind_tags %}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
   <title>Pymonx</title>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/htmx-ext-response-targets@2.0.2" integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg" crossorigin="anonymous"></script>
   <script src="https://unpkg.com/alpinejs" defer></script>
   {% tailwind_css %}
</head>

<body class="flex flex-col min-h-screen" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
   {% block head %}
   {% endblock %}
   <main class="py-8 flex-1">
      <div class="px-4">
         {% block content %}
         <section class="flex items-center justify-center h-screen">
            <h1 class="text-5xl">Pymonx️</h1>
         </section>
         {% endblock %}
         </div>
   </main>
   {% block foot %}
   {% endblock %}
</body>
</html>
