{% load tz %}
{% load humanize %}
{% load monitor_extras %}

<table class="mt-8 table table-pin-rows">
   <thead>
      <tr>
         {% include "monitor/includes/process_th.html" with field="pid" name="PID" width="80px" %}
         {% include "monitor/includes/process_th.html" with field="name" name="Process" width="full" %}
         {% include "monitor/includes/process_th.html" with field="status" name="Status" width="120px" %}
         {% with label=snapshot|yesno:"Duration,Started" %}
            {% include "monitor/includes/process_th.html" with field="start_time" name=label width="150px" reversed=True %}
         {% endwith %}
         {% include "monitor/includes/process_th.html" with field="cpu" name="CPU" width="100px" %}
         {% include "monitor/includes/process_th.html" with field="memory" name="RAM" width="140px" %}
         {% if not snapshot %}<th class="min-w=[80px]"></th>{% endif %}
      </tr>
   </thead>
   <tbody>
   {% for process in processes %}
   <tr class="hover:bg-base-200">
      <th>{{ process.pid }}</th>
      <th>{{ process.name }}</th>
      <td>{% include "monitor/includes/status.html" with status=process.status %}</td>
      <td>
         {% if not snapshot %}
            {{ process.start_time|naturaltime }}
         {% else %}
            {{ process.start_time|timesince:generated_at }}
         {% endif %}
      </td>
      <td>{% include "monitor/includes/cpu.html" with cpu=process.cpu %}</td>
      <td>{% include "monitor/includes/memory.html" with memory=process.memory %}</td>
      {% if not snapshot %}
         <td class="text-right">
            <button
               class="btn btn-sm btn-primary" type="submit"
               @click="showModal = true; $store.process = { pid: {{ process.pid }}, name: '{{ process.name }}' }"
            >
               Kill
            </button>
         </td>
      {% endif %}
   </tr>
   {% endfor %}
   </tbody>
</table>
