{% extends "base.html" %}

{% block head %}
<header class="navbar bg-primary text-primary-content shadow-sm">
  <h1 class="flex-1">
    <a class="btn btn-ghost text-xl" href="{% url 'monitor:index' %}">
       <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-activity-icon lucide-activity"><path d="M22 12h-2.48a2 2 0 0 0-1.93 1.46l-2.35 8.36a.25.25 0 0 1-.48 0L9.24 2.18a.25.25 0 0 0-.48 0l-2.35 8.36A2 2 0 0 1 4.49 12H2"/></svg>
       <span class="sr-only">Pymonx</span>
    </a>
  </h1>
  <nav class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'monitor:index' %}">Processes</a></li>
      <li><a href="{% url 'monitor:snapshot_list' %}">Snapshots</a></li>
      <li><a href="{% url 'monitor:kill_log' %}">Kill Log</a></li>
      <li><a href="{% url 'landing:logout' %}">Logout</a></li>
    </ul>
  </nav>
</header>
{% endblock %}


{% block content %}
{% endblock content %}

{% block foot %}
<footer class="py-8 bg-base-300">
   <div class="px-4">
      <p class="text-center text-xs text-base-content opacity-50">
         fi•aptiv 2025
      </p>
   </div>
</footer>
{% endblock %}
