{% extends "monitor/base.html" %}
{% load partials %}

{% block content %}

<div class="flex flex-col lg:flex-row w-full lg:items-center justify-between gap-4" hx-ext="response-targets">
   {% include "monitor/includes/filters.html" %}
   <ul class="flex items-center gap-2 order-first lg:order-last">
      <li>
         <button
            id="refresh-button"
            class="btn btn-outline"
            hx-get="{% url 'monitor:index' %}"
            hx-vals="js:{
               search: Alpine.store('filters').search,
               status: Alpine.store('filters').status,
               sort: Alpine.store('sorting').value
            }"
            hx-swap="outerHTML"
            hx-target="#process-table"
            hx-trigger="click from:#refresh-button, refresh from:body, every 30s"
         >
            Refresh
         </button>
      </li>
      <li>
         <button
            class="btn btn-primary"
            hx-post="{% url 'monitor:snapshot' %}"
            hx-target="#toast-container"
            hx-target-error="#toast-container"
            hx-swap="innerHTML"
         >
            Take Snapshot
         </button>
      </li>
   </ul>
</div>

<div
   x-data="{
      showModal: false,

      init() {
        Alpine.store('process', {});
      }
   }"
>
   <div class="card mt-8 bg-base-200">
      <div class="card-body px-0">
         {% partialdef process-table inline %}
         <div id="process-table" class="overflow-x-auto mt-4">
            <h2 class="card-title px-4">Processes</h2>
            <span class="text-xs px-4 text-base-content">
               Refreshed: {% now "jS F Y H:i:s" %}
            </span>
            {% include "monitor/includes/process_table.html" with processes=processes %}
         </div>
         {% endpartialdef %}
      </div>
   </div>

   <div class="modal" :class="{ 'modal-open': showModal }">
      <div class="modal-box">
         <h2 class="text-lg font-bold">Confirm Kill</h2>
         <p class="mt-2">
            Are you sure you want to kill <span class="font-bold" x-text="$store.process?.name"></span>
            <sub>(PID: <span x-text="$store.process?.pid"></span>)</sub>?
         </p>
         <div class="mt-4 flex justify-end space-x-2">
            <button class="btn btn-outline" @click="showModal = false">Cancel</button>
            <button
               class="btn btn-error"
               hx-post="{% url 'monitor:kill' %}"
               hx-vals="js:{ pid: Alpine.store('process')?.pid }"
               hx-target="#toast-container"
               hx-swap="innerHTML"
               @click="showModal = false"
            >
               Confirm
            </button>
         </div>
      </div>
   </div>
</div>

<div id="toast-container"></div>

{% include "monitor/includes/sorting_app.html" %}
{% endblock content %}
